@font-face {
  font-family: "Quantum";
  src: url(Quantum.otf) format("truetype");
}

body {
  margin: 0;
}

#background {
  font-family: "Quantum";
  background-image: url("snake.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #8fac02;
  position: relative;
}

#playButtonDiv {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20%;
  right: 0;
  display: flex;
  align-items: center;
}

#playButton {
  font-family: "Quantum";
  color: black;
  height: 50px;
  width: 100px;
  font-size: 30px;
  cursor: pointer;
}

#copyright {
  color: black;
  font-size: x-large;
  position: absolute;
  top: 15%;
  left: 20%;
  bottom: 15%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

#nestlogo {
  display: flex;
  position: absolute;
  top: 5%;
  left: 20%;
}

@keyframes holox-fed {
  0% {
    box-shadow: 0 0 13px rgba(17, 241, 255, 0.6) inset;
  }
  50% {
    box-shadow: 0 0 14px rgba(17, 241, 255, 1) inset;
  }
  100% {
    box-shadow: 0 0 13px rgba(17, 241, 255, 0.6) inset;
  }
}

.fifth {
  box-shadow: 8px 8px 20px 10px rgb(255, 255, 255);
  font-family: Quantum;
  border-color: black;
  border-radius: 0;
  color: black;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
  height: 80px;
  width: 200px;
  font-size: xx-large;
  /* justify-content: center; */
  align-items: center;
  /* left: 100%; */
  margin-top: 10%;
  border-radius: 5%;
  background-color: transparent;
  cursor: pointer;
}
.fifth:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: black;
  z-index: -1;
  -webkit-transition: width 150ms ease-in-out;
  transition: width 150ms ease-in-out;
}
.fifth:hover {
  color: #fff;
}
.fifth:hover:after {
  width: 100%;
}

#tovch {
  display: flex;
  justify-content: center;
  align-items: center;
}

#names {
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  /* gap: 10px;
  grid-auto-rows: minmax(100px, auto); */
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#snakeTitle {
  margin: 0;
  margin-top: 0%;
}

#developTitle {
  margin: 0;
  margin-top: 2%;
}
